@charset "UTF-8";

body {
  background-color: #caffc7;
}

h1 {
  color: rgb(4, 109, 0);
}

h2 {
  color: rgb(73, 109, 71);
}

#principal {
  text-align: center;
  background-color: green;
  color: #fff;
}

.basico {
  color: #3c805e;
  font-weight: bold;
}

.intermadiario {
  color: #80793c;
}

.avancado {
  color: #803c3c;
}

.destaque {
  background-color: rgba(146, 146, 73, 0.5);
}