
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Work Sans", sans-serif;
  font-size: 1em;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 2em;
  font-family: "Kaushan Script", cursive;
}